@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;900&display=swap');

/* マージン・パディングのリセット */
* {
    margin: 0;
    padding: 0;
}

:root {
    /* remの単位設定 */
    font-size: 10px;
}

/* 各要素の単位設定 */
h1 { font-size: 5rem; }
p { font-size: 1.5rem; }

/* float等 下のタグに影響する要素のリセット用 */
.clear {
    clear: both;
}

body {
    background-color: aliceblue;
}


main {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    background-color: white;
    box-shadow: 1rem 1.5rem rgb(228, 235, 241);
}


/* タイトル */
.headline {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding-top: 3rem;
    text-align: center;
    font-family: 'M PLUS Rounded 1c';
    border-bottom: 0.5rem solid;
}


/* コンテンツ */
.content-container {
    text-align: center;
    margin: auto 8rem;
}

.content-title {
    width: 100%;
    font-family: 'Zen Maru Gothic';
    font-size: 3rem;
    margin: 3rem auto;
    background-color: aliceblue;
    box-shadow: -2rem 0 rgb(194, 228, 255);
    border-radius: 0 0 3rem 0;
    padding: 1rem 0;
}


.content-container p {
    height: 30rem;
    text-align: left;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.content {
    margin: 5rem auto;
}

.content img {
    width: 25rem;
}